In [82]:
import pandas as pd

In [83]:
 categorical1=pd.Categorical(['d','e','f'])
# print(categorical1)
type(categorical1)

pandas.core.arrays.categorical.Categorical

In [84]:
df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
                   'numeric': [1, 2, 3],
                   'object': ['a', 'b', 'c'],
                   'numeric2':[5,3,4]
                  })

In [129]:
 df_described=df.describe(include="all")
 df_described

       categorical  numeric object  numeric2
count            3      3.0      3       3.0
unique           3      NaN      3       NaN
top              d      NaN      a       NaN
freq             1      NaN      1       NaN
mean           NaN      2.0    NaN       4.0
std            NaN      1.0    NaN       1.0
min            NaN      1.0    NaN       3.0
25%            NaN      1.5    NaN       3.5
50%            NaN      2.0    NaN       4.0
75%            NaN      2.5    NaN       4.5
max            NaN      3.0    NaN       5.0

In [130]:
# df_described= df_described.T
print(df_described)

       categorical  numeric object  numeric2
count            3      3.0      3       3.0
unique           3      NaN      3       NaN
top              d      NaN      a       NaN
freq             1      NaN      1       NaN
mean           NaN      2.0    NaN       4.0
std            NaN      1.0    NaN       1.0
min            NaN      1.0    NaN       3.0
25%            NaN      1.5    NaN       3.5
50%            NaN      2.0    NaN       4.0
75%            NaN      2.5    NaN       4.5
max            NaN      3.0    NaN       5.0

In [132]:
df_described

       categorical  numeric object  numeric2
count            3      3.0      3       3.0
unique           3      NaN      3       NaN
top              d      NaN      a       NaN
freq             1      NaN      1       NaN
mean           NaN      2.0    NaN       4.0
std            NaN      1.0    NaN       1.0
min            NaN      1.0    NaN       3.0
25%            NaN      1.5    NaN       3.5
50%            NaN      2.0    NaN       4.0
75%            NaN      2.5    NaN       4.5
max            NaN      3.0    NaN       5.0

In [133]:
df_described_T=df_described.T

In [134]:
df_described_T

            count unique  top freq mean  std  min  25%  50%  75%  max
categorical     3      3    d    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
numeric       3.0    NaN  NaN  NaN  2.0  1.0  1.0  1.5  2.0  2.5  3.0
object          3      3    a    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
numeric2      3.0    NaN  NaN  NaN  4.0  1.0  3.0  3.5  4.0  4.5  5.0

In [140]:
df_described

       categorical  numeric object  numeric2
count            3      3.0      3       3.0
unique           3      NaN      3       NaN
top              d      NaN      a       NaN
freq             1      NaN      1       NaN
mean           NaN      2.0    NaN       4.0
std            NaN      1.0    NaN       1.0
min            NaN      1.0    NaN       3.0
25%            NaN      1.5    NaN       3.5
50%            NaN      2.0    NaN       4.0
75%            NaN      2.5    NaN       4.5
max            NaN      3.0    NaN       5.0

In [147]:
df_described[["top"]]

        numeric
count       3.0
unique      NaN
top         NaN
freq        NaN
mean        2.0
std         1.0
min         1.0
25%         1.5
50%         2.0
75%         2.5
max         3.0